body, dl, dt, dd, ol, ul, pre, form, field, input, blockquote, th, td, h1, h2, h3, h4, h5, h6, div { font-family: '微软雅黑', 宋体, 'microsoft yahei', Tahoma, Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; font-size: 12px; }
ul, ol { margin: 0px; padding: 0px; list-style: none; }
li { list-style-type: none; }
p { margin: 0; padding: 0; color:#000; }
body, img { border: none;margin: 0; padding: 0; }
a { text-decoration: none; color:#000; }
body{background:#ffffff; overflow-x:hidden;}
.clear{clear:both; height:0px; overflow:hidden;}
.left-space{ margin-left:4px;}
.top-space{ margin-top:4px;}
.border-style{border: #909090 thin ridge;}
.main{ margin:0 auto;width:1005px;}
.underLine{ border-bottom:1px dotted #E0E0E0;}
/******************头部样式******************/
.header{margin:0 auto;width:1005px;}
.logo{float:left;margin-top:7px;margin-left:15px; width:220px; height:60px;}
.top_btn{float:right;font-size:12px;margin-top:3px; width:108px;height:24px;}
.top_btn a{ display:block; width:50px;height:24px; float:left; text-align:center; line-height:24px;}

.nav{ width:1005px; float:left; height:40px; margin-top:10px; background:#61A009;}
.nav ul li{width:95px; height:24px; float:left; line-height:24px; text-align:center; border-right:thin #C5C5C5 ridge; margin-top:8px;}
.nav ul li a{display:block; color:#fff; font-size:12px;font-weight:bold;}
.nav ul li a:hover,.menu ul li a.active{ text-decoration:underline}

.navigation{ width:960px; float:left; height:30px; border-bottom:#DDDDDD thin ridge; margin-left:20px;}
.navigation span{  margin-left:2px;line-height:40px; color:#2D8617; font-size:15px; font-weight:bold;}
.navigation img{margin-left:2px;}
.main_border{width:1001px; height:auto;float:left; padding-top:5px; padding-bottom:60px;}
/*****************中间栏样式****************/
/**************首页**************/
.main_left{width:350px; height:280px; float:left; margin-top:80px; border:#AEC4C1 thin ridge;}
.main_right{width:400px; height:280px; background:#93C;float:left;margin-top:80px; margin-left:25px;}

/*************发布信息************/
.info{ margin-top:18px; margin-left:40px; float:left}
.info select{ width:150px; margin-left:12px; margin-right:5px;margin-bottom:10px;}
.info input{width:147px; margin-left:12px; margin-right:5px; margin-bottom:10px;}
.info span{ vertical-align:middle; margin-left:3px;}
.search_btn{ text-align:center;width:75px; height:24px; line-height:24px;display:block; 
color:#FFF; background:#D4180F; float:right; margin-right:170px;}
.btns{width:762px; float:left; margin-bottom:0px; margin-top:20px;}
.add_btn{text-align:center;width:75px; height:24px; line-height:24px;display:block; 
color:#FFF; background:#61A009; float:left; margin-right:5px;}
.info_table{width:800px;text-align:center; border-collapse:collapse;}
.tr_top{background:#F7F7F7;}
.info_table tr{ height:30px;}
.info_table td{border: thin #E6E6E6  solid;}
.reles_btn{color:#61A009}
.del_btn{color:#D4180F}
.notify_btn{color:#00f}
/********登记企业信息-基本信息维护******/
.info_reg{ float:left; width:1005px;}
.title{width:960px; margin-left:20px;}
.title span{margin-left:35px;font-weight:bold; line-height:25px;}
.info_left{ width:480px; float:left; margin-top:5px;}
.tag{ margin-left:55px;float:left;margin-bottom:18px;}
.tag_title{float:left; line-height:21px;height:21px;}
.tag_input{ width:200px; margin-left:35px;float:left;}
.info_right{width:500px; float:left; margin-top:5px;}
.reg_search_btn{ height:30xp; line-height:30px; margin-left:5px;}
.search_map{ width:400px; height:145px; background:#999; float:left; margin-left:55px;}
/********登记企业信息-企业申请*********/
.apply{float:left; width:1005px; margin-top:18px;}
.apply_left{ width:400px;float:left}
.apply_tag{text-align:right; height:25px; line-height:25px;margin-bottom:16px;}
.apply_tag span{color:#FF0000;height:25px; line-height:25px;}

.apply_right{width:600px; float:left}
.apply input{width:220px; height:22px; margin-bottom:16px; vertical-align:top}
.apply select{width:220px; height:22px; margin-bottom:17px; vertical-align:top}
.submit_btn{background:#6EAE0F;color:#FFF; font-weight:bold; font-size:16px; margin-top:20px;}
/********************底部栏*******************/
.footer{width:1005px;background:#E4E4E4; float:left; text-align:center;margin-bottom:5px;
 border-top:#61A009 medium ridge; border-bottom:thin ridge #C5C5C5; }
.footnav{color:#61A009;height:30px;line-height:30px;}
.footnav a{color:#2D8617;}
.footnav a:hover,.footnav a.active{color:#666666;margin-left:5px;margin-right:5px;}
