body, dl, dt, dd, ol, ul, pre, form, field, input, blockquote, th, td, h1, h2, h3, h4, h5, h6, div { font-family: '寰蒋闆呴粦', 瀹嬩綋, 'microsoft yahei', Tahoma, Verdana, Arial, Helvetica, sans-serif; margin: 0; padding: 0; font-size: 12px; }
ul, ol { margin: 0px; padding: 0px; list-style: none; }
li { list-style-type: none;overflow:hidden; }
p { margin: 0; padding: 0; color:#000; }
body, img { border: none;margin: 0; padding: 0; }
a { text-decoration: none; color:#000; }
body{
	/*background-image:url(../../images/bg.jpg);*/
	 background-repeat:no-repeat;
	 background: #F1F1F1;
	 overflow-x:hidden;
	 }
.clear{clear:both; height:0px; overflow:hidden;}
.left-space{ margin-left:10px;}
.top-space{ margin-top:10px;}
.border-style{border: #b0b0b0 1px ridge;} 
.main_index{ margin:0 auto;width:1020px;}
.main{ margin:0 auto;width:1003px;}
.underLine{ border-bottom:thin dotted #B8B8B8;}
.center{text-align:center}
.white-bg{background-color: #fff;}
.hidden{display:none;}
.fl{float:left}
.fr{float:right}
.txtsize{font-size:17px}
/*reload-start*/
.position-relative {
position: relative;
}
div.widget-box-overlay {
position: absolute;
top: 0;
width:auto!important;
bottom: 0;
right: 0;
left: 0;
background-color: rgba(0,0,0,0.3);
z-index: 21;
text-align: center;
}
.widget-box-overlay span{
	color: #fff;
	font-size: 15px;
}
/*reload-end*/
/******************头部样式******************/
.header{text-align:center;width:100%;background: #fff;}
.header_top{margin:0 auto;width:1003px; height:100px;padding-top:20px;}
.logo{float:left;margin-left:40px;width:120px; height:100px;}
.top_btn{float:right;font-size:12px;margin-top:3px; width:108px;height:24px;}
.top_btn a{ display:block; border:#C5C5C5 thin ridge; width:50px;height:24px; float:left; text-align:center; line-height:24px;}

.nav{ width:1003px; height:40px; margin:0px auto; background:#5A9304;text-align:center;}
.nav ul{margin:0 auto;width:1003px;list-style-type: none;}
.nav ul li{width:143px; height:40px; float:left; line-height:40px; text-align:center;}
.nav ul li a{display:block; color:#fff; font-size:16px;font-weight:bold;}
.nav ul li a:hover,.nav ul li a.active{ background:#3A7100;text-decoration: none;}
.nav ul li ul{line-height: 27px;list-style-type: none;text-align: center;left: -999em;width: 142px;position: absolute;}
.nav ul li ul li{float:left;width:142px;background: #5A9304;}
.nav ul li ul a{display:block;width:142px;text-align:center;}
.nav ul li ul a:hover{text-decoration: none;background:#3A7100;}
.nav ul li ul a:visited,.nav ul li ul a:link{color: #fff;text-decoration: none;}
.nav li:hover ul {left: auto;}
.nav li.sfhover ul {left: auto;}
/*****************中间栏样式***************/
/*************首页*************/
.login{width:228px; height:300px;float:left;}
.login_title{ width:228px; height:32px; background:#5A9304;border-bottom: #909090 thin ridge;line-height:32px;color:#FFF;font-size:15px;font-weight:bold;}
.login_title span{width: 50%;
display: inline-block;
text-align: center;}
.text{color:#FFF;line-height:32px;height:32px;}
.login_detail{ font-weight: bold;
color: #3C3C3C;height:30px; line-height:30px; text-align:right; margin-bottom:20px;font-size:14px;margin-right:15px;}
.login_detail input{height:28px;width:138px;}
.login_btn{margin-top:20px;height:33px;}
.login_btn a{width:88px; height:33px; color:#FFF;display: block; background:#5A9304;line-height:33px; margin-left:12px;margin-right:12px; float:left; text-align:center;font-size:15px;font-weight:bold;}
.login_btn button{width:88px; height:33px; color:#FFF;display: block; background:#5A9304;line-height:33px; margin-left:15px;margin-right:15px; float:left; text-align:center;font-size:15px;font-weight:bold;}
.login_btn a:hover{text-decoration: underline;}

.news{ width:390px;height:300px;float:left;}
.news_list{ margin-top:15px; float:left; }
.news_list li{ list-style: inside disc;margin-left:15px;}
.news_list a:hover{ text-decoration: none;}

.guide{ width:360px; height:300px;float:left;}
.guide img{width:360px; height:300px;}

.adv{width:497px; height:70px; float: left; }
.adv img{width:497px; height:70px;}

.main_border.border-style.top-space>div{ width:900px;margin:20px auto }
.info{ width:900px;margin:20px auto }
.info_part{width:495px; height:300px;float:left;}
.info_title{width:495px;height:35px;line-height:35px;border-bottom: #B8B8B8 thin ridge;padding-top:3px;}
.info_title span{color:#5A9304; margin-left:12px; font-weight:bold;border-top: #5A9304 2px outset;font-size:15px;line-height: 40px;padding-top:5px;}
.info_title a{color:#000; float:right;margin-right:30px;font-size:14px;}
.info_title a:hover,.info_title a.active{text-decoration:none;color:#d50000}
.info_content{ margin-top:15px;margin-left:15px;}
.info_list{width:335px; height:24px; line-height:24px;}
.info_list li{list-style: inside disc;}

/*********************************/

.third_left{ width:120px; height:600px; float:left;}
.third_left_title{width:120px; text-align:center; margin-top:30px;}
.third_left_title span{width:120px;font-weight:bold; font-size:16px; margin-top:20px; float:left}
.third_left_title a{ color:#000;}
.third_left_title a:hover{ color:#7EBE5F;}

.third_right{ width:877px;height:600px; float:left;}
.news_more{  width:800px;margin-top:30px; float:left; padding-left:90px;}
.mlist{ width:680px; height:30px; line-height:30px; margin-left:10px;}
.mlist li{ list-style: inside disc;}
.mlist a{ float:left;}
.mlist span{ float:right; color:#000; margin-right:20px;}
/***************************/
.job_recomd{ margin-top:30px; margin-left:40px;}
.job_recomd select{ width:150px; margin-left:12px; margin-right:5px;}
.search_btn{ }
.red_btn{text-align:center;width:75px; height:24px; line-height:24px;display:block; 
color:#FFF; background:#D4180F; float:right;margin-right: 2px;}
.disabled_btn{background: #ABABAB;}
.salary_class{ margin-top:10px;}
.salary_class a{ margin-right:25px;}

/******************************/
.my_recruit{ width:880px;height:300px; float:left; }
.table_top,.table_bottom{width:500px;margin-left:40px;text-align:center; margin-top:30px;}
.table_top tr,.table_bottom tr{ height:30px;}
.table_top td,.table_bottom td{border:1px #909090 solid;}
.td_left{width:60px;height:1px;background:#E1E1E1;}
.td_right{width:120px;height:1px;}
.tr_top{background:#E1E1E1;height:36px;font-size:14px;font-weight:bold}
.font1{font-size:14px;color:#6C9542;font-weight:bold;}
.fontnav{margin-left:20px;margin-top:20px;}
/*******************************/
.info_table{ border:1px #909090 solid; border-collapse:collapse;width:100%}
.info_table a:hover{text-decoration: underline;},.info_table a.active{text-decoration: underline;}
.info_table tr{ height:30px;}
.info_table td{ border:1px #909090 solid; border-collapse:collapse;text-align:center;font-size:12px;} 
.info_table th{ background-color:#E1E1E1;text-align:center;font-size:14px;}
/***********************************/
.download{width:1001px;height:600px; float:left}
.more_title{ color:#AF1316; font-size:14px; font-weight:bold; margin-left:10px;}
.more_title hr{color:#DCDCDC;}
/*********************************/
.news_detail{width:100%;height:auto; min-height:600px; _height:600px;text-align:center;padding-bottom: 30px;}
.news_detail_title{width:100%;font-size:20px}
.news_detail_more{margin:0px auto;width:70%;font-size: 14px;height:30px;padding-top:5px;}
.news_detail_content{margin:0px auto;padding-top:15px;width:70%;text-align:left;font-family: 瀹嬩綋, Arial; font-size: 16px; line-height: 21px;}
/**************************************/
.navigation{ width:900px; height:27px; border-bottom:#DDDDDD thin ridge;margin: 20px auto; }
.navigation span{margin-left:2px; color:#2D8617; font-size:16px; font-weight:bold;}
.navigation img{margin-left:2px;}
/********************底边栏样式******************/
.footer{width:1005px;margin:0px auto;}
.ft-info{width:100%;color:#4E5460;height:35px;line-height:35px;float: left;background: #BEBEBE;margin-bottom: 10px;margin-top: 10px;}
.ft-info a{color:#4E5460;padding-left:15px;padding-right:15px;}
.ft-info a:hover,.footnav a.active{text-decoration: underline;color:#3A7100;}
.ft-copy{width:100%;text-align: center;line-height:20px;float: left; }
.ft-list{width:100%;height: 50px;display: block;margin: 10px 0 8px 0;float: left;}
.ft-list ul{width:100%;list-style-type: none;}
.ft-list ul li{float: left;}
.footer p{width:100%;height:20px;line-height:20px;color:#4E5460;float: left;text-align: center;}
.footer p a{color:#4E5460;}
.footer p a:hover,.footer p a.active{text-decoration: underline;color:#3A7100;}
/***************************************/
.nTab1{
	float: left;
	width: 423px;
	background-position:left;
	background-repeat:no-repeat;
	margin: 0px;
}
.nTab1 .TabTitle1{
	clear: both;
	height: 33px;
	overflow: hidden;
	width: 420px;
}
.nTab1 .TabTitle1 ul{
border:0;
margin:0;
padding:0;
}
.nTab1 .TabTitle1 li{
	float: left;
	cursor: pointer;
	list-style-type: none;
	margin-right: 0px;
}
.nTab1 .TabContent1{
	width:421px;
	margin: 0px;
	overflow:hidden;
	padding-top: 6px;
	height: 250px;
}
.nTab1 .TabTitle1 .active{ width:195px; height:32px; border-bottom:#909090 thin ridge; float:left; line-height:32px; text-align:center; margin:0 auto;color:#fff;font-size:15px;font-weight:bold;}
.nTab1 .TabTitle1 .normal{ width:195px; height:32px;border-bottom: #909090 thin ridge;float:left; line-height:32px; text-align:center; color:#fff; margin:0 auto;font-size:15px;font-weight:bold;}
span.active,li.active{background:#3A7100;}
span.normal,li.normal{background:#5A9304;}

.nr,.nr a:link,.nr a:visited{
	float: left;
	color: #000000;
	text-decoration: none;
	line-height: 25px;
	font-size:14px;
}
.nr a:hover {
	color: #003ac0;
	text-decoration: none;
}
.nr ul {
	width: 720px;
	margin: 0px;
	padding: 0px;
	float: left;
}
.nr ul li {
	background-image: url(../images/sx_44.gif);
	background-repeat: no-repeat;
	background-position: 4px 8px;
	float: left;
	width: 720px;
	list-style-type: none;
	padding-left: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
.nr ul li span {
	color: #A85B0B;
	float: right;
	font-size:14px;
}
.x_hei,.x_hei a:link,.x_hei a:visited {
	color: #000000;
	text-decoration:none;font-size: 14px;
}
.x_hei a:hover {
	color: #d50000;
	text-decoration:none;font-size: 14px;
}
.time{color:#36648B;}
